*{
  background-image: url("https://i.pinimg.com/564x/43/85/c3/4385c3e15229f96323916139cf5bf23e.jpg");
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color:white;
  background-color: black;
  background-size: 2000px;
  background-attachment: fixed;
  
}

#root{
  margin:5px;
  
  flex-direction: column;
  display:flex;

}

header{
  font-size: 50px;
  text-align: center;
}

.navBar a {
  float: left;
  display:block;
  color :darkgoldenrod;
  overflow: hidden;
  text-decoration: none;
  padding: 20px 24px;
  font-size:large;
  border-bottom: 20px;
}

a:hover{
  background-color: rgba(128, 128, 128, 0.8);
  color:rgb(244, 126, 7);
}

 .active{
  background-color: rgba(128, 128, 128, 0.8);
}

h1 {
  margin: 50px;
  text-align: center;
  color :darkgoldenrod;
}

.photo-container{
  width: 80%;
  display:flex;
  white-space: nowrap;
  flex-wrap: wrap;
  margin-left: 50px;
}

.photo-container img{
  width: 300px;
  height: 400px;
  margin-left: 10px;
}

.searcher{
  align-self: center;
  width: 50%;
  height: 50px;
  font-size: large;
  box-shadow: 5px 5px 10px 5px rgb(241, 230, 71);
}

h2{
  margin: 30px ;
  align-self: center;
  color:darkgoldenrod ;
  font-size: 42px;
}

.photo-container2{
  width: 93%;
  height: fit-content;
  background-color: bisque;
  white-space: nowrap;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.photo-container2 img{
  width: 260px;
  height: 300px;
  margin-left: 10px;
}

.card-container{
  display: flex;
  width:85%;
  flex-wrap: wrap;
  margin-left: 30px;
  align-self: center;
}

.card{
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: fit-content;
  
  
}

.card:hover {
  box-shadow: 5px 5px 10px 5px rgba(216, 4, 4, 0.733);
}

.card img{
  width:90%;
  height:350px;
  border-radius: 5px;
}

.card-info{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.card-info h3{
  font-size: 14px;
  margin-bottom: 10px;
}

.card-info p {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.card-info button{
 background-color: rgba(0, 0, 0, 0.8);
 color:rgb(255, 183, 0);
 height:40px;
 font-size: larger;
 border: 1px solid #ccc;
 border-radius: 5px;
}
.card-info button:hover{
 background-color: grey;
 color: rgb(244, 126, 7);
}
 
form {
 width: 500px;
 margin: 10px auto;
 border: 1px solid #ec0909;
 border-radius: 5px;
 padding: 10px;
 text-align: center;
 box-shadow: 5px 5px 10px 5px rgba(216, 4, 4, 0.733);
 
}

.active, .collapsible:hover {
  background-color: #ccc;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


label {
 display: block;
 margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
 width: 450px;;
 padding: 5px;
 margin-bottom: 10px;
}

textarea {
 height: 100px;
 width: 450px;
 padding: 5px;
 margin-bottom: 10px;
}

input[type="submit"] {
 background-color:grey;
 height:60px;
 width: 450px;
 color:rgb(255, 183, 0) ;
 font-size: 36px;
 border: none;
 cursor: pointer;
}

input[type="submit"]:hover {
 background-color: #45a049;
}